<div>
  <div class="modal-header">
    <h2 class="modal-title">Create a new room</h2>
  </div>
  <div class="modal-body">
    <label>Enter room name: </label>
    <!-- <input ng-model="modal.room.name" type='text'/> -->
    <input type="text" ng-model="modal.room" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="modal.submit(modal.room)">Create</button>
  </div>
</div>
