<div class="left-panel">
    <div class="app-name">Bloc Chat</div>
    <div class="mid-left">
        <p class="room-names" ng-repeat="room in main.rooms" ng-click="main.setRoom(room)">{{ room.name }}</p>
        <div class="bottom-left">
            <button type="button" class="btn btn-default" ng-click="main.createRoom()">Create new room</button>
            <p class="instructions">You are currently logged in as {{ currentUser }}</p>
            <p class="instructions">Enter a new username below</p>
            <button type="button" class="btn btn-default" ng-click="main.setUsername()">Change username</button>
        </div>
    </div>
</div>
<div class="right-panel">
    <div class="room-name">{{ main.currentRoom.name }}</div>
    <div class="test">
        <div class="messages" ng-repeat="message in main.messages">{{ message.content }}</div>
    </div>
    <form class="message-input">
        Enter message:
        <input type="text" ng-model="main.message" />
        <input type="submit" class="btn btn-default" value="Send" ng-click="main.sendMessage(main.message)">
    </form>
</div>
